@page
@model LoginModel

@{
    ViewData["Title"] = "Log-in Form";
}

<div class="center">
<div class="row">
        <section>
            <form id="account" method="post">
                <h1 style="text-align:center;">@ViewData["Title"]</h1>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input id="email_field" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input id="password_field" asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox" style="float: left;">
                        <label asp-for="Input.RememberMe" class="form-label" style="color:white;">
                            <input id="rememberme_checkbox" class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div style="float: right;">
                    <p>
                        <a id="forgot_password" asp-page="./ForgotPassword" style="color:#e33661">Forgot your password?</a>
                    </p>
                </div>
                <div>
                    <button id="login_submit" type="submit" class="btn btn-lg btn-light">Log in</button> <br />
                    <a asp-area="Identity" asp-page="/Account/Register"><button type="button" id="register_button" class="btn btn-lg btn-light">Register</button></a>
                </div>
            </form>
        </section>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
