@model TraineeTracker.Models.Tracker

@{
    ViewData["Title"] = "Create";
}

<div class="center">
    <div class="row">
        <h1>Create Tracker</h1>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Stop" class="control-label">Stop:</label>
                <input asp-for="Stop" class="form-control" />
                <span asp-validation-for="Stop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label">Start:</label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Continue" class="control-label">Continue:</label>
                <input asp-for="Continue" class="form-control" />
                <span asp-validation-for="Continue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechnicalSkills" class="control-label"></label>
                <input asp-for="TechnicalSkills" class="form-control" />
                <span asp-validation-for="TechnicalSkills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsultantSkills" class="control-label"></label>
                <input asp-for="ConsultantSkills" class="form-control" />
                <span asp-validation-for="ConsultantSkills" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Create" class="btn btn-lg btn-light" style="margin-top: 20px; width:49%; float: left;" />
                <a asp-controller="UserDatas" asp-action="Index"><input type="button" value="Back" class="btn btn-lg btn-light" style="margin-top: 20px; width:49%; float: right;" /></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
