@model TraineeTracker.Models.Tracker

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tracker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="UserDataId" class="control-label"></label>
                <select asp-for="UserDataId" class="form-control" asp-items="ViewBag.UserDataId"></select>
                <span asp-validation-for="UserDataId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stop" class="control-label"></label>
                <input asp-for="Stop" class="form-control" />
                <span asp-validation-for="Stop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Continue" class="control-label"></label>
                <input asp-for="Continue" class="form-control" />
                <span asp-validation-for="Continue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechnicalSkills" class="control-label"></label>
                <input asp-for="TechnicalSkills" class="form-control" />
                <span asp-validation-for="TechnicalSkills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsultantSkills" class="control-label"></label>
                <input asp-for="ConsultantSkills" class="form-control" />
                <span asp-validation-for="ConsultantSkills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
