@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}


<div class="center" style="width:100%;">
<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">W</h1> 
        <h1 class="display-4">e</h1>
        <h1 class="display-4">l</h1>
        <h1 class="display-4">c</h1>
        <h1 class="display-4">o</h1>
        <h1 class="display-4">m</h1>
        <h1 class="display-4">e</h1>
        <h3 class="display-4">&nbsp;</h3>
        <h1 class="display-5"><a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="display:inline;">@User.Identity?.Name</a></h1>
        <h1 class="display-4">,</h1> <br />

        <h3 class="display-4">t</h3>
        <h3 class="display-4">o</h3>
        <h3 class="display-4">&nbsp;</h3>
        <h3 class="display-4">y</h3>
        <h3 class="display-4">o</h3>
        <h3 class="display-4">u</h3>
        <h3 class="display-4">r</h3>
        <h3 class="display-4">&nbsp;</h3>
        <h3 class="display-4">T</h3>
        <h3 class="display-4">r</h3>
        <h3 class="display-4">a</h3>
        <h3 class="display-4">i</h3>
        <h3 class="display-4">n</h3>
        <h3 class="display-4">e</h3>
        <h3 class="display-4">e</h3>
        <h3 class="display-4">&nbsp;</h3>
        <h3 class="display-4">T</h3>
        <h3 class="display-4">r</h3>
        <h3 class="display-4">a</h3>
        <h3 class="display-4">c</h3>
        <h3 class="display-4">k</h3>
        <h3 class="display-4">e</h3>
        <h3 class="display-4">r</h3>
        <h3 class="display-4">.</h3>
        <h3 class="display-4">.</h3>
        <h3 class="display-4">.</h3>
    }
    else {
        <h1 class="display-4">P</h1>
        <h1 class="display-4">l</h1>
        <h1 class="display-4">e</h1>
        <h1 class="display-4">a</h1>
        <h1 class="display-4">s</h1>
        <h1 class="display-4">e</h1>
        <h3 class="display-4">&nbsp;</h3>
        <h1 class="display-5"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login" title="Manage" style="display:inline;">Sign-in</a></h1>
        <h1 class="display-4">,</h1> <br />

        <h3 class="display-4">t</h3>
        <h3 class="display-4">o</h3>
        <h3 class="display-4">&nbsp;</h3>
        <h3 class="display-4">a</h3>
        <h3 class="display-4">c</h3>
        <h3 class="display-4">c</h3>
        <h3 class="display-4">e</h3>
        <h3 class="display-4">s</h3>
        <h3 class="display-4">s</h3>
        <h3 class="display-4">&nbsp;</h3>
        <h3 class="display-4">y</h3>
        <h3 class="display-4">o</h3>
        <h3 class="display-4">u</h3>
        <h3 class="display-4">r</h3>
        <h3 class="display-4">&nbsp;</h3>
        <h3 class="display-4">T</h3>
        <h3 class="display-4">r</h3>
        <h3 class="display-4">a</h3>
        <h3 class="display-4">i</h3>
        <h3 class="display-4">n</h3>
        <h3 class="display-4">e</h3>
        <h3 class="display-4">e</h3>
        <h3 class="display-4">&nbsp;</h3>
        <h3 class="display-4">T</h3>
        <h3 class="display-4">r</h3>
        <h3 class="display-4">a</h3>
        <h3 class="display-4">c</h3>
        <h3 class="display-4">k</h3>
        <h3 class="display-4">e</h3>
        <h3 class="display-4">r</h3>
        <h3 class="display-4">.</h3>
        <h3 class="display-4">.</h3>
        <h3 class="display-4">.</h3>
    }
</div>
</div>
