@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <h1>@ViewData["Title"]</h1>
    <section>
        <p>
            PRIVACY NOTICE
        </p>
    </section>
</div>
<br /><br />

