html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.row {
    text-align: center;
}

h1 {
    display: inline;
    margin:-1px;
}
h3 {
    display: inline;
    margin: -1px;
}

label {
    color:black;
}

.form-control {
    margin-bottom: 5px;
}

.btn{
    margin-bottom: 5px;
}

.modify-user-btn {
    padding-left:20px;
    padding-right:20px;
}

.display-4:hover {
    cursor: default;
    color: #e33661;
}

.display-5 {
    color: #e33661;
}

.display-5:hover {
    cursor: default;
    color: white;
}

.btn {
    width: 265px;
}

.control-label {
    color:white;
    float:left;
}