name: Unit Testing + Code Coverage

on: 
  push

defaults:
  run:
    working-directory: ./TraineeTracker/

jobs:
  tests:
    name: Unit Testing
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Install NUnit.ConsoleRunner
      run: nuget install NUnit.ConsoleRunner -Version 3.15.2 -DirectDownload -OutputDirectory .
    - name: Run UnitTests
      run:  dotnet test /p:CollectCoverage=true /p:ExcludeByFile=\\"**/Areas/**.*%2c**/Views/**.*%2c**/Views/_ViewStart.cshtml\\" /p:CoverletOutputFormat=lcov /p:CoverletOutput=lcov.info
    - name: coveralls      
      uses: coverallsapp/github-action@v1.1.1
      with:
        github-token: ${{secrets.GITHUB_TOKEN }} 
        path-to-lcov: ./TraineeTracker/TraineeTrackerTests/lcov.info
