<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="base_url" value="https://localhost:7166/"/>
		<add key="login_url" value="https://localhost:7166/Identity/Account/Login"/>
		<add key="privacy_url" value="https://localhost:7166/Home/Privacy"/>
		<add key="register_url" value="https://localhost:7166/Identity/Account/Register"/>
		<add key="user_url" value="https://localhost:7166/UserDatas"/>
    <add key="forgot_password_url" value="https://localhost:7166/Identity/Account/ForgotPassword"/>
	</appSettings>
</configuration>
