<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="base_url" value="https://localhost:7166/"/>
		<add key="login_url" value="https://localhost:7166/Identity/Account/Login"/>
		<add key="privacy_url" value="https://localhost:7166/Home/Privacy"/>
		<add key="register_url" value="https://localhost:7166/Identity/Account/Register"/>
		<add key="user_url" value="https://localhost:7166/UserDatas"/>
		<add key="forgot_password_url" value="https://localhost:7166/Identity/Account/ForgotPassword"/>
		<add key="tracker_index_url" value="https://localhost:7166/Trackers/Index"/>
		<add key="tracker_create_url" value="https://localhost:7166/Trackers/Create"/>
		<add key="tracker_details_url" value="https://localhost:7166/Trackers/Details"/>
		<add key="tracker_delete_url" value="https://localhost:7166/Trackers/Delete"/>
		<add key="tracker_edit_url" value="https://localhost:7166/Trackers/Edit"/>
	</appSettings>
</configuration>
